* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.img_card {
  min-width: 300px;
  max-width: 300px;
  max-height: 200px;
  min-height: 200px;
  object-fit: cover;
}
.separator-category {
  width: 100%;
  border: 1px solid black;
  margin-bottom: 10px;
}
.sport_card {
  min-width: 500px;
  max-width: 500px;
  min-height: 550px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  /*  */
  width: 100%;
  flex: 1 1 0%;
  border: 0.4px solid rgb(225, 230, 242);
  filter: drop-shadow(rgba(0, 0, 0, 0.08) 4px 4px 4px);
  overflow: hidden;
  border-radius: 4px;
  margin-bottom: 25px;
  transition: all 0.2s ease 0s;
  position: relative;
}

.sport_card:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 20px;
}

.delete-sport-controller {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.delete-sport-trash {
  cursor: pointer;
  font-size: 24px;
  position: relative;
  left: 45px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  left: 420px;
}

.delete-sport-trash:hover {
  color: red;
  background-color: #ff5f5743;
}

.sport_title {
  margin-bottom: 10px;
}

.navbar {
  width: 100vw;
  height: 20vh;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  justify-content: space-around;
  align-content: space-between;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid black;
}

.logo {
  width: 60px;
}

.navbar > a {
  text-decoration: none;
  color: black;
}

.links-elements {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.links-elements > a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  opacity: 100%;
  transition: opacity 0.32s ease-in;
}

.links-elements > a:hover {
  color: black;
  font-size: 18px;
  font-weight: bold;
}

.athlete-container {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.card-athletes-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: center;
}

.form-container {
  width: 20vw;
  height: 100%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin-top: 20px;
}

.athlete-card {
  width: 100%;
  height: 60px;
  margin: 10px auto;
  border: 1px solid black;
  border-radius: 6px;
  gap: 20px;
  font-size: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
}

.athlete-informations {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 4px;
}

.athlete-card > i {
  font-size: 20px;
}

.fa-trash:hover {
  color: red;
  cursor: pointer;
}

.form-athlete {
  text-align: left;
}

.input-athelte-form {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.sumbit-button-form {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.sumbit-button-form:hover {
  background-color: #106613;
}

.error-msg {
  color: red;
}

.fa-pen:hover {
  color: blue;
  cursor: pointer;
}

.athlete-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 18px;
}

.input-athlete-card {
  border: none;
  height: 30px;
}

.input-athlete-card-editable {
  border: 1px solid black;
  height: 30px;
}

.check-button {
  position: relative;
  width: 40px;
  height: 40px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.check-button:hover {
  background-color: #106613;
}

.menu {
  display: none;
}

#toggle {
  display: none;
}

/* MEDIA */

@media only screen and (max-width: 767px) {
  /* Styles pour les écrans de petite taille (mobile) */
  /* Ajoutez vos règles CSS spécifiques pour la version mobile ici */

  body {
    padding: 10px 10px;
  }

  .form-container {
    width: 100%;
    margin-bottom: 20px;
  }

  .athlete-container {
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  .athlete-card {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
  }

  .input-athlete-card {
    width: 40%;
    border: 1px solid black;
  }

  .input-athlete-card-editable {
    width: 40%;
    border: 1px solid red;
  }

  .links-elements {
    display: none;
    flex-direction: column;
    background: #e1e1e1;
    border: 1px solid rgb(169, 169, 169);
    border-radius: 2px;
    width: 40%;
    height: 80%;
    gap: 4px;
    top: 75px;
    left: 20px;
    position: relative;
  }

  .menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 40px;
    color: rgb(6, 6, 6);
    cursor: pointer;
    margin-left: 300px;
    position: absolute;
  }

  #toggle:checked + .links-elements {
    display: flex;
  }

  .logo {
    margin: 0;
  }
}

.epreuve_card {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 10px 30px;
  /*  */
  flex: 1 1 0%;
  border: 0.4px solid rgb(225, 230, 242);
  filter: drop-shadow(rgba(0, 0, 0, 0.08) 4px 4px 4px);
  overflow: hidden;
  border-radius: 4px;
  margin-bottom: 25px;
  transition: all 0.2s ease 0s;
  position: relative;
  min-width: 378px;
  max-width: 378px;
}

.epreuve_card:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 20px;
}

.epreuve_li {
  display: flex;
}

.sports-container {
  padding: 20px 40px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sports-cards-controller {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100vw;
  justify-content: center;
}

.form-athlete-title {
  text-align: center;
  margin-bottom: 10px;
}

.epreuve-form-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 60px;
}

.input-epreuve-form {
  width: 60%;
  height: 80%;
  text-align: center;
}

.add-button-epreuve {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  width: 70px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-button-epreuve:hover {
  background-color: #106613;
}

.medaille-controller {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* 

*/
select {
  background-color: rgb(255, 255, 255);
  color: rgb(73, 80, 87);
  border-color: rgb(206, 212, 218);
  display: block;
  width: 80%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

select:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
}

.medaille-selector-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 120%;
  font-size: 20px;
  gap: 0px;
  min-width: 195px;
  max-width: 195px;
}

.epreuve-name {
  max-width: 70px;
  min-height: 100px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
